.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 20px;
    width: 600px;
    max-height: 200px;
    min-width: 100px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .product hr {
      display: block;
      border: 2;
      width: 400px;
      background-color: black;
      margin: 0px;
     
  }
  .product_info  {
    height: 50px;
    margin-bottom: 5px;
  }

  .header_search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }
  .header_searchInput {
    height: 11px;
    margin:10px;
    padding: 10px;
    border: none;
    width: 380px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .header_container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
     
  }

  .product_info i {
    padding-top:10px;
  }